@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
}

h1, h2 {
    font-family: 'Poppins';
}

h3 {
    font-family: 'Poppins';
}