
.banner {
    width: 100%;
    height: 600px;
    background-image: url(../images/skatepark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.title h1 {
    font-weight: 700;
    font-size: 50px;
    margin-top: 80px;
}
.title h2 {
    font-weight: 400;
}